*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.limita-secao{
    max-width: 100%;
    margin: 0 20%;
}

/*cabecalho*/
.cabecalho{
    width: 100%;
    background-color: #d92121ed;
    border-bottom: 3px solid #ffffff92;
}

/*topo*/
.logo-topo{
    max-width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.logo-topo h1{
    font-size: 30px;
    color: #fff;
    font-weight: 900;
}

.link-navegacao{
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-navegacao a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.link-navegacao a:hover{
    color: #6c0000;
}

/*container-banner*/
.img-banner{
    width: 100%;
    height: 100vh;
    background-image: url("img/capa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo-banner{
    max-width: 100%;
    height: 200px;
    padding: 0px 100px 80px 0px;
    background-color: rgba(0, 0, 0, 0.381);

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.titulo-banner h2{
    color: #fff;
    font-weight: 900;
}

/*container-info*/
.info{
    padding: 50px 0;
}

.info h3{
    margin-bottom: 20px;
}

.info p{
    line-height: 30px;
}

.info span{
    border-left: 1px solid;
    padding-left: 15px;
}

/*container-imagens*/
.secao-img{
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.secao-img img{
    max-width: 100%;
    box-shadow: 10px 10px 10px #6c0000;
    border-radius: 5px;

    display: flex;
    flex: 1 1 250px;
}

/*container-contato*/
.secao-contato{
    width: 100%;
    height: 150px;
    background-color: #d92121;
    box-shadow: 0px 10px 10px #6c0000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.secao-contato h4{
    background-color: #6c0000;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

/*container-formulario*/
.formulario{
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

.formulario h3{
    padding: 30px 0;
    font-size: 20px;
}

.formulario p{
    margin-bottom: 20px;
    font-size: 18px;
}

.dados-formulario{
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.dados-formulario input, select{
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.formulario fieldset{
    margin: 20px 0px;

    display: flex;
    flex-direction: column;
}

.formulario legend{
    padding: 0 5px;
    margin-left: 20px;
}

.lista-modelo optgroup{
    font-size: 15px;
}

.botao-formulario{
    width: 100%;
    height: 50px;
    background-color: #d92121;
    box-shadow: 0px 10px 10px #6c0000;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

/*container-rodape*/
.container-rodape{
    background-color: #d92121;
    width: 100%;
    height: 80px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-rodape p{
    text-align: center;
    color: #fff;
}

.container-rodape a{
    color: #fff;
    font-weight: 600;
}

/*media querie*/
@media screen and (max-width:950px){
    .img-banner{
        width: 100%;
        height: 300px;
    }

    .limita-secao{
        max-width: 100%;
        margin: 0 5%;
    }

    .logo-topo{
        max-width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulo-responsivo{
        display: none;
    }

    .titulo-banner{
        padding: 0;
        
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:500px){
    .logo-topo{
        padding-top: 10px;
    }
    .link-navegacao{
        display: none;
    }

    .img-banner{
        width: 100%;
        height: 250px;
    }
    
    .titulo-banner{
        max-width: 100%;
        height: 150px;
    }

    h3, h2, p{
        text-align: center;
    }
}
